# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/

#Amplicode
amplicode.xml

# Java Class Files
*.class

# Blog
blog/.gradle/
blog/build/

# Epay
epay/.gradle/
epay/build/

# Discovery
discovery-server/.gradle/
discovery-server/build/

# Gateway
api-gateway/.gradle/
api-gateway/build/